@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;
    background: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    padding: 16px;
    flex: 1 1 auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;

}

a,
.subtitle {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
}

.container-1 {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    flex: 1 1 0;
}

.container-1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 64px;
}

.placeholder {
    height: auto;
    width: 500px;
    align-self: center;
    flex: 0 1 auto;
    margin: 80px;
}

.title-text {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin: 8px;
}

.subtitle {
    margin: 8px;
}

button {
    background-color: #3882f6;
    margin: 8px;
    padding: 8px;
    color: #f9faf8;
    width: 100px;
    border: none;
    border-color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;

}

button:hover {
    background-color: #349bd6
}

button:active {
    background-color: #349bd6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.picimg {
    width: 100px;
    height: 100px;

    border: solid 3px #3882f6;
}

.container-2 {
    text-align: center;
    flex: 1 1 0;
}

.title {
    margin: 32px;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.cont2 {
    margin: 80px;
    display: flex;
    justify-content: center;
    gap: 52px;
}

.subtext {
    max-width: 200px;
    font-size: 18px;
    color: #1f2937;
}

.container-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;

}

.quote {
    text-align: center;
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
    color: #1f2937;
    margin-top: 130px;
    margin-left: 250px;
    margin-right: 250px;
}

.signature {
    align-self: flex-end;
    margin-right: 400px;
    font-size: 18px;
    font-weight: 1000;
    color: #1f2937;
    margin-top: 30px;
    margin-bottom: 130px;
}

.container-4 {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.container-4-inner {
    background-color: #3882f6;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CTA {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

.CTA-desc {
    color: #e5e7eb;
    font-size: 18px;
}

.white-border {
    border: solid 2px #e5e7eb;
    border-radius: 8px;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 80px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
}

.copyright {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 18px;
    color: #e5e7eb;
}